body {
  height: 100vh;
}

/* Avatar Header Styling */

#avatar-header {
  background-color: #4ea67e;
  height: 25vh;
}

#avatar-header > img {
  height: 200px;
  width: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 2px solid white;
  border-radius: 50%;
}

#avatar-header > a {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.profile-name {
  position: absolute;
  bottom: -85px;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* Friend List Styling */

.friend-avatar {
  width: 100px;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
}

/* Post Styling */

.post-avatar {
  width: 50px;
  height: auto;
  border: 1px solid white;
  border-radius: 50%;
}

.delete-icon {
  width: 25px;
  height: auto;
}

.post-name {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
}

.post-content {
  margin-top: 20px;
}

.post-photo {
  width: 100%;
  height: auto;
}

.liked {
  background-color: red;
  color: white;
  font-weight: bold;
  transition: all 250ms;
  border: 1px solid red;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
}

.not-liked {
  background-color: white;
  color: red;
  font-weight: bold;
  transition: all 250ms;
  border: 1px solid red;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
}
