.nav-logo {
  height: 50px;
  width: auto;
  margin-block: 7.5px;
  border-radius: 50%;
}

.brand-primary {
  background-color: #234f3b;
  color: white;
}

.secondary-button {
  background-color: white;
  color: #234f3b !important;
  border: 1px solid #234f3b;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
}
